:root {
    --primary:  #A29CBB;
    --darkPrimary: #7D78A3;
    --secundary: #FFCE00;
    --darkSecundary: #DFB503;
    --white: #FFF;
    --black: #000;

    --mainFont: 'Staatliches', cursive;
}
/* Globales*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
      background-color: var(--primary);
      font-size: 1.6rem;
      line-height: 1.5;
  }
  p{
      font-size: 1.8rem;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      color: var(--white);
  }
  a{
      text-decoration: none;
      color: var(--secundary);
  }
  img{
      width: 100%;
  }

  .container{
      max-width: 120rem;
      margin: 0 auto;
  }
  h1, h2, h3 {
      text-align: center;
      color: var(--secundary);
      font-family: var(--mainFont);
      font-weight: 400;
  }
  h1{
      font-size: 4rem;
  }
  h2{
      font-size: 3.2rem;
  }
  h3{
      font-size: 2.4rem;
  }

  /*Header*/
  .header{
      display: flex;
      justify-content: center;
  }
  .header__logo{
      margin: 3rem 0; 
  }
/*Footer*/
.footer{
background-color: var(--darkPrimary);
padding: 1rem 0;
margin-top: 2rem;
}
.footer__text{
font-family: var(--mainFont);
text-align: center;
font-size: 2.2rem;
font-weight: 400;
}
/*Nav*/ 
.nav{
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.nav__link{
    font-family: var(--mainFont);
    color: var(--white);
    font-size: 3rem;
    margin-right: 2rem;
}
.nav__link:last-of-type{
    margin-right: 0;
}
.nav__link--active,
.nav__link:hover{
    color: var(--secundary);
}
  /*Grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media only screen and (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
  /*Products*/
.product{
    background-color: var(--darkPrimary);
    padding: 1rem;
}
.product__name{
    font-size: 4rem;
    font-weight: 500;
}
.product__price{
font-size: 2.8rem;
color: var(--secundary);
font-weight: 500;
}
.product__name,
.product__price{
    font-family: var(--mainFont);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
/* Graphics */
.graphic{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.graphic--tshirt{
    grid-row: 2 / 3;
    background-image: url(../resources/img/grafico1.jpg);

}
.graphic--node{
    background-image: url(../resources/img/grafico2.jpg);
    grid-row: 8 / 9;
}
@media only screen and (min-width: 768px) {
    .graphic--node{
        grid-row: 5/ 6;
        grid-column: 2 / 4;
    
    } 
}
/* Nosotros */
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 1rem;
}
@media only screen and (min-width: 768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
p{
    text-align: justify;
}
.nosotros__imagen{
    grid-row: 1/2;
}
@media only screen and (min-width: 768px) {
    .nosotros__imagen{
        grid-column: 2 / 3;
    } 
}
.compra{
    padding: 1rem;
}
/*Bloques*/
.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media only screen and (min-width: 768px) {
    .bloques{
        grid-template-columns: repeat(4, 1fr);     
    }
    
}
.bloque{
    text-align: center;
}
.bloque__titulo{
    margin: 0;
    font-weight: 400;
}
/* Pagina del producto */
.tshirt__content{
    padding: 1rem;
}
@media only screen and (min-width: 768px) {
    .tshirt{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}
.formulario__campo{
    border: 1rem solid var(--darkPrimary);
    background-color: #86437c;
    color: var(--white);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}
.formulario__submit{
    background-color: var(--secundary);
    border: none;
    font-size: 2.4rem;
    font-family: var(--mainFont);
    padding: 1.5rem;
    transition: backgroud-color .3s ease;
    grid-column: 1 / 3;
    font-weight: 400;
}
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--darkSecundary);
}